    {{! Footer }}
    <footer>
        <div class="row">
            <div class="columns large-6">
                &copy; {{date format="YYYY"}} <a href="http://lifeaweso.me" title="Open Life Awesome web site" target="_blank"><span class="lifeawesome">lifeawesome</span></a>
            </div>
            <div class="columns large-6 right">
                Proudly published with <a title="Ghost Blogging Platform" href="https://ghost.org" target="_blank">Ghost</a>
            </div>
        </div>
    </footer>
