section{
	width: 100%;
	min-height: 100%;
	padding: 50px 0;
	position: relative;
}
strong{
	font-weight: 200;
}
h1.title{
	font-size: 36px;
	font-weight: 200;
	margin-bottom: 60px !important;
	color: #00bcd4;
	text-align: center;
}

h2.title {
	font-size: 36px;
	font-weight: 200;
	margin-bottom: 60px !important;
	color: #00bcd4;
	text-align: center;
}
h3{
	font-weight: 600;
	font-size: 24px;
	margin-bottom: 20px;
}

@media only screen and (max-width: 641px) {
	h2.title{
		font-size: 24px;
		margin-bottom: 30px !important;
	}
	h3{
		font-size: 18px;
	}
}



/*/ --- GENERALI --- /*/
.right{
	text-align: right;
}
.clear{
	clear: both;
}
/*/ --- HEADER --- /*/
#header{
	height: 70px;
	width: 100%;
	position: fixed;
	background: #FFF;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
	top: 0;
	z-index: 999;
}
#header .logo{
	width: 70px;
	height: 70px;
	float: left;
	margin-left: 20px;
	cursor: pointer;
	background: url('../images/logo-header.png') 0 0 no-repeat;
	
	transition: all 300ms ease;
}
#header .logo:hover{
	transform: rotate(360deg);
}
#header nav{
	float: right;
	margin-right: 20px;
}
#header nav ul li{
	display: inline-block;
	line-height: 70px;
	padding: 0 10px;
	color:#00bcd4;
	font-weight: 600;
	cursor: pointer;
}
@media only screen and (max-width: 641px) {
	#header{
		display: none;
	}
}
/*/ --- WHAT --- /*/
#what{
	background: #F6F6F6;
	color: #999;
	text-align: center;
	line-height: 24px;
	box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.2);
}

#what .step{
	margin-bottom: 30px;
	cursor: pointer;	
}
#what .step:last-child{
	margin-bottom: 0px;
}

/*/ --- FEED --- /*/
#feed{
	height: auto;
	min-height: 0;
	background: #00bcd4;
	color: #FFF;
	text-align: center;
}
#feed header#twitter h2{
	background: url('../images/twitter.png') left center no-repeat;
	padding-left: 40px;
	height: 36px;
	line-height: 36px;
	display: inline-block;
	color: #FFF;
	margin-bottom: 25px !important;
}
#feed p{
	font-style: italic;
	display: block;
}
#feed p a{
	font-weight: 600;
}
/*/ --- FAQ --- /*/
#faq{
	background: #FFF;
	color: #AAA;
	line-height: 24px;
}
#faq h3.faq{
	margin: 20px 0 10px 0;
}
#faq .faq:first-child{
	margin-top: 0;
}
 
 /*/ --- NEWSLETTER --- /*/
section#newsletter{
	height: auto;
	min-height: 0;
	background: #F6F6F6;
	color: #FFF;
	text-align: center;
}
#newsletter h2{
	margin-bottom: 25px !important;
}
#newsletter input{
	display: inline-block;
	margin: 0 5px;
	border: none;
	border: 1px solid #DDD;
	padding: 10px;
	font-size: 16px;
	font-family: 'Raleway', sans-serif;
}
#newsletter input[type='text']{
	width: 350px;
	max-width: 100%;
}
#newsletter input[type='button']{
	color: #FFF;
	border: none;
	background: #00bcd4;
}
#newsletter form h3{
	font-size: 18px;
}
@media only screen and (max-width: 641px) {
	#newsletter input{
		margin: 10px 0;
	}
	#newsletter input[type='text'],
	#newsletter input[type='button']{
		width: 100%;
	}
}
/*/ --- BOX DIALOG --- /*/
.box.dialog{
	width: 300px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -100px;
	margin-left: -150px;
	text-align: center;
	line-height: 24px;
}
.box.dialog h3{
	font-size: 36px;
	font-weight: 200;
	color: #00bcd4;
}
.overlay{
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.4);
}
